.wrap {
    max-width: 1200px;
    margin: 0 auto;
    .header {
        background: red;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        ul {
            width: 25%;
            margin: 0 5% 0 0;
            padding-left: 0;
            display: flex;
            justify-content: space-between;
            color: white;
            list-style: none;
        }
        .logo {
            margin-left: 5%;
            display: flex;
            align-items: center;
            img {
                width: 50px;
                height: 50px;
                margin-right: 10px;
            }
        }
    }
    .main {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        .main__leftSide {
            background: black;
            color: white;
            padding: 10px;
            max-width: 20%;
        }
        .main__content {
            background: pink;
            padding: 10px;
            max-width: 60%;
        }
        .main__rightSide {
            background: blue;
            padding: 10px;
            color: white;
            max-width: 10%;
        }
    }
    .footer {
        background: gray;
        margin-top: 10px;
        height: 40px;
    }
}
